<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="../css/ui-base.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/home.css">
</head>
<body>
	<div id="main">
		<div class="title-bar">
			<div class="ub ub-ac h-44 padl-15 padr-15 top">
				<div class="tx-wh ub ub-f1 ub-pc" v-on:click="changePage(1)">博客园</div>
				<div class="tx-wh ub ub-f1 ub-pc" v-on:click="changePage(2)">知乎</div>
			</div>
		</div>
		<div class="loader" v-if="loading">
            <div class="loading_3">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
		<div class="w-100p mart-40 padt-5" v-if="pageTwo">
			<a class="block bg-wh mart-15 marl-15 bort-gra-1 padt-10 padb-5 touchItem" v-bind:style="{ width: blockWidth }" v-for="box in boxs"  href={{box.url}}>
				<div class="ub padl-15 padr-15 text-box">{{box.title}}</div>
				<div class="ub padl-15 padr-15 text-box-text padt-5">{{box.text}}</div>
			</a>
		</div>
		<div class="ub padl-10 padr-10 bg-wh ub-ver mart-44" v-if="pageOne">
			<a class="ub padt-10 padb-10 borb-gra-1 item touchItem" v-for="item in items"  href={{item.url}}>
				<div class="w-80 h-80 marr-15" style="background: url({{item.img}}); background-size: 100% 100%" v-if="item.hasImg"></div>
				<div class="ub ub-f1 ub-ver">
					<div class="h-30 title">{{item.title}}</div>
					<div class="h-50 text">{{item.text}}</div>
				</div>
			</a>
		</div>

	</div>
</body>
<script src="../js/jquery-2.2.1.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/home.js"></script>
</html>